assig2/target/META-INF/mule-src/assig2/src/main/mule/assig2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:java="http://www.mulesoft.org/schema/mule/java" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f4d6e667-50e6-46a5-921c-4559b9d6526a" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="assig2Flow" doc:id="904d1949-d104-46ad-b156-c43d8cbb85ea" >
		<http:listener doc:name="Listener" doc:id="852448d4-f2fa-4517-9f22-b33047d5296f" config-ref="HTTP_Listener_config" path="/newSales"/>
		<logger level="INFO" doc:name="Logger" doc:id="ace878ec-247d-4a04-9e25-040b3c3aca54" message="Sales Started"/>
		<set-variable value="#[uuid()]" doc:name="correlationId" doc:id="5adb3c67-c9b8-4d0e-a155-3b188d660824" variableName="correlationId"/>
		<logger level="INFO" doc:name="Logger" doc:id="209e660a-4523-4cae-974c-28d75c3c8061" message="'Correlatin ID' - #[vars.correlationId]"/>
		<java:invoke-static doc:name="Invoke static" doc:id="6d671310-a589-4cc2-8f06-243279961697" class="sales.Sales" method="getAmount(java.lang.String)">
			<java:args ><![CDATA[#[%dw 2.0
output application/java
---
{
	size : attributes.queryParams.size as String
}]]]></java:args>
		</java:invoke-static>
		<logger level="INFO" doc:name="Logger" doc:id="4f74f082-7272-4714-bf65-2ca6ee6d2d08" message="#[payload]"/>
	</flow>
</mule>
