19Aprilstringconcat/target/classes/stringconcat.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="0e2f3ea1-7e11-432f-8a2f-2852519688da" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="stringconcatFlow" doc:id="89b6abf6-aa34-4e1b-866a-9ad3e5c0b796" >
		<http:listener doc:name="Listener" doc:id="14b3bc6b-4044-44df-9717-f225e1aa6f6e" config-ref="HTTP_Listener_config" path="/strConcat"/>
		<logger level="INFO" doc:name="Logger" doc:id="3f63541e-4914-4914-b8e5-8497d2f746da" message="String Concatination"/>
		<ee:transform doc:name="Transform Message" doc:id="3f1ef746-681e-41d4-adeb-5d395899d5f3" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"FullName" : payload.FirstName ++' '++ payload.LastName
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
