4may-parallelforeach/src/main/mule/4may-parallelforeach.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b0cf9866-0890-4554-8fe8-a7d5528fa4ee" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="4may-parallelforeachFlow" doc:id="ec968082-4adb-4ad2-b3f0-13e1640bc0de" >
		<http:listener doc:name="Listener" doc:id="26b1f3a2-98d2-4939-beaf-093c46894516" config-ref="HTTP_Listener_config" path="/pfe"/>
		<set-payload value="#[[1,2,3,4,5]]" doc:name="Set Payload" doc:id="5cd3d381-6333-4f70-b053-235c69d752ad" />
		<parallel-foreach doc:name="Parallel For Each" doc:id="38607022-1cee-4fd4-af68-0c8a4805a79a" collection="#[payload]">
			<ee:transform doc:name="Transform Message" doc:id="630b1b41-4911-4fd7-975c-f530026e2d84" >
				<ee:message >
					<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	number : payload + 1
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			<logger level="INFO" doc:name="Logger" doc:id="5fd6a96c-af42-415d-bd3c-ad3a110c1cc8" message="#[payload]"/>
		</parallel-foreach>
		<ee:transform doc:name="Transform Message" doc:id="54b150cc-e0cc-4562-8667-0fbb987b8780" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
flatten(payload..payload..number)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
